*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --colorTextos: #7e7e7e;
  --colorBotones: #f69229;
  --colorFondo: #5d8a9f;
  --paddingSecciones: 60px 0;
  --marginElementos: 40px;
}

body{
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

.contenedor{
  width: 90%;
  max-width: 900px;
  margin: auto;
  /* background: #000; */
  overflow: hidden;
  padding: var(--paddingSecciones);
}

/* Menu */

.menu-navegacion{
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo{
  height: inherit;
}

.logo h2{
  margin: 20px;
  height: 100%;
}

.enlaces li{
  list-style: none;
  display: inline-block;
}

.enlaces a{
  color: var(--colorFondo);
  text-decoration: none;
  margin-left: 10px;
}

.enlaces a:hover{
  text-decoration: underline;
}

/* Hero */

.hero{
  height: 1100px;
  background-image: url('../img/imagen1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contenedor-textos{
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1{
  font-size: 70px;
  font-weight: bolder;
  color: #fff;
}

.hero p{
  font-size: 23px;
  font-weight: bold;
  margin: 15px 0;
  color: #fff;
}

.boton{
  width: 150px;
  display: block;
  margin: 0 auto;
  padding: 15px;
  background: var(--colorBotones);
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
}

/* Main */

.titulo-seccion{
  text-align: center;
  font-size: 35px;
  color: var(--colorFondo);
}

.copy{
  text-align: center;
  color: var(--colorTextos);
  margin: 20px 0;
}

.intereses{
  padding-top: var(--marginElementos);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.interes{
  font-size: 20px;
  width: 10em;
  height: 10em;
  background-image: url('../img/imagen5.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* -webkit-text-stroke: 1px black; */
  color: #fff;
  font-weight: bold;
}

/* Projects */

.projects{
  background: #f2f2f2;
}

.contenedor-imagenes{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contenedor-imagenes img{
  display: block;
  object-fit: cover;
  width: 30%;
  height: 220px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  margin-bottom: var(--marginElementos);
}

.people{
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
}

.person{
  font-size: 22px;
  text-align: center;
  margin-top: 5px;
}

/* Footer */

footer{
  background-image: url('../img/footer.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
}

footer .titulo-seccion, footer .copy{
  color: var(--colorBotones);
}

.redes-sociales{
  height: 250px;
  padding-top: 50px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.redes-sociales i{
  font-size: 60px;
}

@media screen and (max-width:800px){
  .menu-navegacion{
    flex-direction: column;
    height: 120px;
    justify-content: space-evenly;
    margin-bottom: 30px;
  }

  .logo h2{
    margin-top: 35px;
  }

  .hero{
    height: 500px;
  }

  .hero h1{
    font-size: 40px;
  }

  .interes{
    margin-bottom: var(--marginElementos);
  }

  .contenedor-imagenes img{
    width: 90%;
  }

  /* .redes-sociales{
    flex-direction: column;
    align-items: center;
  }

  .redes-sociales i{
    margin-top: 20px;
  } */
}
